---
import Django from "../components/icons/Django.astro";
import Azure from "../components/icons/Azure.astro";
import Python from "../components/icons/Python.astro";
import Javascript from "../components/icons/Javascript.astro";
import Github from "../components/icons/Github.astro";
import Link from "../components/icons/Link.astro";
import LinkButton from "../components/LinkButton.astro";
import Bash from "./icons/Bash.astro";

const TAGS = {
    DJANGO: {
        name: "Django",
        class: "bg-[#012a1a] text-white",
        icon: Django,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-[#f7e025] text-black",
        icon: Javascript,
    },
    AZURE: {
        name: "Azure",
        class: "bg-[#04529b] text-white",
        icon: Azure,
    },
    PYTHON: {
        name: "Python",
        class: "bg-[#f7e025] text-black",
        icon: Python,
    },
    BASH: {
        name: "Bash",
        class: "bg-black text-white",
        icon: Bash,
    },
};

const PROJECTS = [
    {
        title: "Password Generator",
        description: "Aplicacion web para Generar Claves Seguras con Django y JavaScript alojada en Azure Web Apps",
        link: "https://secure-passwords.st4rtend.com/",
        github: "https://github.com/RvidalSt4rtend/Password-Generator.git",
        image: "/projects/pm.webp",
        tags: [TAGS.DJANGO, TAGS.JAVASCRIPT, TAGS.AZURE],
    },
    {
        title: "Python Scripts",
        description: "Script en Python para automatizar diversas tareas en el sistema operativo Windows y Linux",
        github: "https://github.com/RvidalSt4rtend/Python-Scripts",
        image: "/projects/pythonScripts.webp",
        tags: [TAGS.PYTHON],
    },
    {
        title: "CyberSecurity Scripts",
        description: "Script en Python para automatizar diversas tareas en el sistema operativo Windows y Linux",
        github: "https://github.com/RvidalSt4rtend/Cyber-Scripts",
        image: "/projects/cyberScripts.webp",
        tags: [TAGS.BASH, TAGS.PYTHON],
    },
];
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Proyectos" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-[#030712] transition duration-100 hover:border-gray-400`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <Github class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link} >
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>
  